// Colors

$blue: #314584;
$red: #FF3946;
$white: #FFFFFF;
$yellow: #fbc531;
$black: #2f3640;
$gray: #6E757A;
$skyBlue: #65c1ff21;
$medNightBlue: #2c3e50;
$duration: .5s;

// helpfull classes

.pd {
  padding: 100px 0;
}

// Global Components 